/* ======Global===== */
:root{
    --menuColor: #121114;
    --menuColorII: #040405;
}


body{
    display: flex;
    background: #eeeaea;
}

header{
    width: 20vw;
}

main{
    width: 81vw;
    height: 100vh;
    right: 0;
}

.mainPanel{
    height: 35vh;
}

.infoNavegation{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 7vh;
    width: 100%;
    padding: 0 1rem;

    border-bottom: 1px solid #c4bcbc;
}

#currentSection{
    font-size: 1.5rem;
    font-weight: 500;
}

#currentNavegation{
    font-size: 0.87rem;
}

#currentNavegation a{
    text-decoration: none;
    color: #2316b1;
}

.balance{
    top: 0;
    height: 28vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondSection{
    display: flex;
    height: 65vh;
    bottom: 0;
}

.transactionsTable{
    width: 60%;
}

.charts{
    border: 1px solid rgb(56, 28, 133);
    width: 38%;
    height: 95%;
    right: 0;
}

/* =======Cards======= */

.cards{
    display: flex;
    justify-content: center;
}

.card{
    background: white;

    border-radius: 1rem;

    margin-left: 1rem;
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.1);

    width: 13rem;
    height: 6rem;

    display: flex;
    justify-content: space-between;
}

.cardData{
    padding: 1rem 0rem 1.2rem 2rem;
}

.card h3{
    font-weight: normal;
    font-size: 1rem;
    width: 100%;

    display: flex;
    justify-content: left;

    color: #2d2e3a;
    border-bottom: 1px solid #2d2e3a66;
}

.card p{
    font-size: 1.5rem;
    line-height: 1.5rem;

    margin-top: 0.8rem;
}

.totalBox{
    display: flex;
    justify-content: center;
}

.card.total{
    background-color: var(--menuColor);
    color: white;
}

.card.total h3{
    color: rgb(221, 218, 218);
    border-bottom: 1px solid rgba(104, 106, 124, 0.4);
}


.card.total.plus{
    background-color: #279458;
    color: white;
}

.card.total.plus h3{
    color: white;
    border-bottom: 1px solid white;
}

.card.total.minus{
    background-color: #c42f2f;
    color: white;
}

.card.total.minus h3{
    color: white;
    border-bottom: 1px solid white;
}

.band{
    position: relative;
    height: 100%;
    width: 5%;
    border-radius: 0 1rem 1rem 0;
}

#incomeBand{
    background: #279458;
}

#expenseBand{
    background: #c42f2f;
}



/* ======Transactions====== */
.transactionsTable{
    display: flex;
    justify-content: center;
}

.headerTransactions{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.transactions{
    width: 90%;
    height: 95%;
    overflow-x: auto;
    
    background: white;
    
    border-radius: 1rem;
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.1);
}


#recentTransaction{
    color: #1d1b31;
    font-size: 1rem;
    font-weight: 600;

    display: inline-block;
    margin: 1rem 0 0 1rem;
}

#btnTransactions{
    background: #2316b1;

    width: 6rem;
    height: 2rem;

    margin-top: 1rem;
    margin-right: 1rem;
}

/* =======Table======= */

#data-table{
    border-spacing: 0 0.5rem;
    color: #1d1b31;
    width: 34rem;
    padding-left: 1rem;
}

#addButton{
    font-size: 1.25rem;
    font-weight: 1000;
    cursor: pointer;
}

#addButton:hover{
    color: #12a454;
}

table td{
    background: white;

    padding: 0.5rem 1rem;
    font-size: 0.95rem;
}

table th{
    background: white;
    font-weight: normal;

    padding: 0.5rem 1rem;
    text-align: left;
}

table tbody tr{
    opacity: 0.7;
}

table tbody tr:hover{
    opacity: 1;
}

table tbody tr th,
table tbody tr td{
    border-bottom: 1px solid #2d2e3a;
}

#lineRemove{
    width: 1.25rem;
    height: 1.25rem;
    font-weight: 1000;
    cursor: pointer;
}

#lineRemove:hover{
    color: #ce1e1e;
}

.income{
    color: #12a454;
}
.expense{
    color: #e92929;
}


.button.new{
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel{
    color: #e92929;
    border: solid 1px #e92929;

    border-radius: 0.25rem;

    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.6;
}

.button.cancel:hover{
    opacity: 1;
}

button{
    width: 100%;
    height: 50px;

    border: none;

    color: white;
    background-color: var(--green);

    padding: 0;

    border-radius: 0.25rem;

    cursor: pointer;
}

.button.save{
    background-color: #4fa12e;
}

 button.save:hover{
    background: #3dd705;
 }

 .buttonsModal{
    display: flex;

 }



/* =======Modal======= */
.modal-overlay {
    width: 81vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;

    display:flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modalRegister{
    background: #F0F2f5;
    padding: 2.4rem;

    border-radius: 1rem;
    position: relative;
    z-index: 1;
}

/* =======Form======= */

#form{
    max-width: 500px;
}

#form h2{
    margin: 0;
}

input{
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;

    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small{
    opacity: 0.4;
}

.input-group.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button{
    width: 48%;
}






