/* ======GLobal====== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ======Menu Lateral====== */


#logoIcon{
    width: 2rem;
    height: 2rem;
}

.logo{
    display: flex;
}

.logo_name span{
    color: #47f768;
}

header{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15rem;
    background: #022909;
    padding: 0.38rem 0.88rem;
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.40);
}

.logo_content{
    border-bottom: 1px solid rgba(24, 87, 29, 0.4);
}

.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 3.1rem;
    width: 100%;
    align-items: center;
}

.logo_content .logo img{
    font-size: 1.75rem;
    margin-right: 0.3rem;
}

.logo_content .logo .logo_name{
    font-size: 1.25rem;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    left: 85%;
    top: 0.37rem;   
    font: 1.25rem;
    height: 2.5rem;
    width: 2.5rem;

    text-align: center;
    line-height: 2.5rem;
    transform: translateX(-50%);
}

.sidebar ul{
    margin-top: 1.25rem;
    
}

.sidebar ul li{
    position: relative;
    height: 2.5rem;
    width: 100%;
    margin: 0 0.31rem;
    list-style: none;
    line-height: 2.5rem;
}


.sidebar ul li a{
    color: #b8daa9;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease;
    border-radius: 0.6rem;
}

.sidebar ul li a:hover{
    background-color: #47f768;
    color: #11101d;
    font-weight: bold;
    opacity: 0.8;
}

.sidebar ul li a img{
    height: 2rem;
    min-width: 2rem;
    border-radius: 0.75rem;
    line-height: 2.5rem;
}

.links_name{
    position: relative;
    margin-top: 0.2rem;
    margin-left: 0.31rem;
}

#iconSvg a:hover path{
    fill: #f79647;
}


.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #13411b;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.40);

}

.sidebar .profile_content .profile{
    position: relative;
    padding: 0.62rem 0.37rem;
    height: 3.75rem;
    background: #031f04;
}

.profile_content .profile .profile_details{
   display: flex;
   align-items: center;

}

.profile .profile_details img{
    height: 2.5rem;
    width: 2.5rem;
    object-fit: cover;
    border-radius: 0.75rem;
}

.profile .profile_details .name{
    margin-left: 0.62rem;
    font-size: 0.95rem;
    font-weight: 400;  
}

.profile #log_out{
    position: absolute;
    left: 88%;
    bottom: 0.31rem;
    transform: translateX(-50%);
    min-width: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.25rem;
    border-radius: 0.75rem;
}

/* ======Header====== */

/* ======Main======= */

/* ======Footer====== */