/* ======GeneralSettings====== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 16.25rem;

    background-color: #11101d;
}

/* ======Scope======*/

.sidebar .logo-details{
    height: 3.75rem;
    width: 100%;
    display: flex;
    align-items: center;
}


.sidebar .logo-details img{
    width: 2rem;
    height: 2rem;

    min-width: 4.3rem;
    text-align: center;
    line-height: 0.4rem;
}

.sidebar .logo-details .logo-name{
    font-size: 1.25rem;
    color: white;

}


.menuIcons{
    height: 1.5rem;
    width: 1.5rem;
}
/* ======MainMenu====== */


/* ======Profile====== */